* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    color: #333;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: #efe;
    margin-top: 20px;
    justify-content: space-between;
    column-gap: 15px;
}

.post__btn {
   margin: auto;
}

.post__btn button {
    padding: 3px 10px;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}