* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: #efe;
    margin-top: 20px;
    justify-content: space-between;
}
.post__btn button {
    padding: 3px 10px;
}